@import "bootstrap/bootstrap.scss";
@import "./variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #ffffff;
    height: 100vh;
}

.content-container {
    margin-top: 10px;
}

.Network-Entry {
    border-radius: $widget-border-radius;
    padding: $widget-padding;
    margin-bottom: 20px;
    background: #ffffff;
    box-shadow: $widget-box-shadow;

    &__highlights {
        color: $white;
        background: $primary-dark;
        margin: (-$widget-padding) (-$widget-padding) 0px (-$widget-padding);
        padding: $widget-padding;
        display: flex;
        border-top-left-radius: $widget-border-radius;
        border-top-right-radius: $widget-border-radius;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }

        &__main {
            flex: 2;
            display: flex;
            align-items: center;

            @include media-breakpoint-down(sm) {
                text-align: center;
                flex-direction: row;
                justify-content: space-around;
            }

            &__copy {
                margin-right: 15px;
                font-size: 20px;
                cursor: pointer;

                :hover {
                    color: rgb(179, 179, 179);
                }

                @include media-breakpoint-down(sm) {
                    display: block;
                    position: absolute;
                    right: 25px;
                    top: 5px;
                    margin-right: 0px;
                }
            }

            &__details {
                &__name {
                    font-size: 16px;
                    margin-bottom: -5px;
                    letter-spacing: 1px;
                }

                &__address {
                    color: $brand-color;
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }

        &__more {
            flex: 1;
            text-align: right;
            display: flex;
            flex-direction: column;

            @include media-breakpoint-down(sm) {
                text-align: center;
                flex-direction: row;
                justify-content: space-around;
            }
    
            &__label {
                font-size: 12px;
                color: #eaeaea;
            }

            &__value {
                font-weight: 600;

                &--down-status {
                    color: $down-color;
                }
            }
        }
    }

    &__more {
        display: flex;
        align-items: center;
        margin-bottom: -5px;
        margin-top: 10px;

        @include media-breakpoint-down(sm) {
            text-align: center;
            flex-direction: column;
        }

        &__details {
            flex: 2;
            align-items: center;

            &__wrapper {
                display: flex;

                &__entry {
                    margin-left: 15px;
                }

                &__entry:first-child {
                    margin-left: 0px;
                }
            }

            &__label {
                font-size: 12px;
            }
            &__value {
                font-weight: 500;

                &__city {
                    margin-left: 5px;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }

        &__social {
            flex: 1;
            text-align: right;
            align-items: center;

            .Icon a {
                color: #4288d2;
            
                :hover {
                    color: #3ce9a1;
                }
            }

            > div {
                margin-right: 5px;
            }

            @include media-breakpoint-down(sm) {
                margin-bottom: 10px;
            }
        }

    }
}


.Network-Management-Entry {
    border-radius: $widget-border-radius;
    box-shadow: $widget-box-shadow;
    padding: $widget-padding;
    margin-bottom: 35px;

    &__highlights {
        color: $white;
        background: $primary-dark;
        margin: (-$widget-padding) (-$widget-padding) 0px (-$widget-padding);
        padding: $widget-padding;
        display: flex;
        border-top-left-radius: $widget-border-radius;
        border-top-right-radius: $widget-border-radius;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }

        &__main {
            flex: 2;
            display: flex;
            align-items: center;

            @include media-breakpoint-down(sm) {
                text-align: center;
                flex-direction: row;
                justify-content: space-around;
            }

            &__copy {
                margin-right: 15px;
                font-size: 20px;
                @include media-breakpoint-down(sm) {
                    display: block;
                    position: absolute;
                    right: 25px;
                    top: 5px;
                    margin-right: 0px;
                }
            }

            &__details {
                &__name {
                    font-size: 16px;
                    margin-bottom: -5px;
                    letter-spacing: 1px;
                }

                &__address {
                    color: $brand-color;
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }

        &__more {
            flex: 1;
            text-align: right;
            display: flex;
            flex-direction: column;

            @include media-breakpoint-down(sm) {
                text-align: center;
                flex-direction: row;
                justify-content: space-around;
            }
    

            &__label {
                font-size: 12px;
                color: #eaeaea;
            }

            &__value {
                font-weight: 600;
            }
        }
    }

    &__more {
        display: flex;
        align-items: baseline;

        @include media-breakpoint-down(sm) {
            text-align: center;
            flex-direction: column;
        }

        &__details {
            flex: 2;
            margin-top: 10px;
            align-items: center;

            &__version {
                margin-bottom: 10px;
            }

            &__social {
                .Icon a {
                    color: #4288d2;
                
                    :hover {
                        color: #3ce9a1;
                    }
                }
                
                > div {
                    margin-right: 5px;
                }

                @include media-breakpoint-down(sm) {
                    margin-bottom: 10px;
                }
            }

            &__label {
                font-size: 12px;
            }
            &__value {
                font-weight: 500;
            }
        }

        &__badges {
            flex: 2;
            text-align: right;
            align-items: center;

            > button {
                margin-left: 5px;
            }
            @include media-breakpoint-down(sm) {
                text-align: center;
                width: 100%;

                > button {
                    width: 100%;
                    margin-right: 0px;
                    margin-top: 5px;
                }
            }
        }
    }
}

.Center-Content {
    margin: 0 auto;
    max-width: map-get($grid-breakpoints, "sm");

    &--node-form {
        max-width: map-get($grid-breakpoints, "md");
    }
}

.Icon {
    &--circle {
        display: inline-block;
        border-radius: 50%;
        background: #dcdcdc;
        color: #505050;
        padding: 5px;
        font-size: 16px;
        width: 32px;
        height: 32px;
        text-align: center;
        vertical-align: middle;
    }
}

.Button {
    @extend .btn;
    font-weight: 500;
    font-size: 14px;

    &--outline-primary {
        @extend .btn-outline-primary;
        padding-left: 15px;
        padding-right: 15px;
        letter-spacing: 0.5px;
    }

    &--primary {
        @extend .btn-primary;
    }

    &--full-width {
        width: 100%
    }

    &--submit-node {
        margin-top: 15px;

        
        > span {
            margin-left: 10px;
        }
    }
}

.Node-Header {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

$form-padding: $widget-padding * 2;

$main-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

.Node-Submission-Container {
    border-radius: $widget-border-radius;
    box-shadow: $widget-box-shadow;
    padding: $form-padding;  

    &__New-Header {
        margin-bottom: 0px;
    }

    &__Setup-Link {
        display: block;
        margin-bottom: 20px;
        color: darken($brand-color, 40%);
    }
}

.Management-Page {
    margin: 0 auto;
    width: 70%;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.Node-Submission-Wrapper {
    margin-top: 20px;
}

$optional-shadow: 0px 7px 35px 15px rgb(63 59 74 / 8%);

.Form-Field {
    margin-bottom: 15px;

    &__label {
        font-size: 12px;
        margin-bottom: 2px;
        display: block;
        color: #4e4e4e;
        letter-spacing: 0.5px;
    }

    &__field {
        width: 100%;
        padding: 5px 10px;
        background: #efefef;
        border: none;
        height: 38px;
        font-size: 12px;
    }

    &__custom-field {
        > button {
            width: 100%;
            padding: 0px 5px;
            border: 1px solid #d8d8d8;
            border-radius: 0px;
            font-size: 14px !important;
        }
    }

    &__error {
        display: block;
        font-size: 12px;
        color: rgb(245, 73, 73);
    }

    &__grouping-header {
        font-size: 14px;
        margin-bottom: 2px;
        display: block;
        color: #4e4e4e;
        letter-spacing: 1.5px;

        &--top-padding {
            margin-top: 15px;
        }
    }

}

.Menu-Item-Wrapper {
    padding: 0px 10px 0px 0px;
}

.Menu-Item-Section {
    box-shadow: $widget-box-shadow;
    padding: 0px;
}

.Menu-Item {
    border-bottom: 1px solid #e8e8e8;
    padding: 15px;
    color: #808080;
}

.Menu-Item:last-child {
    border-bottom: none;
}

.User-Address-Button .dropdown-toggle {
    padding: 5.5px 15px 5.5px 15px;
    font-size: 12px;
}

.Capitalize {
    text-transform: capitalize;
}

.Text {
    &--success {
        color: #8af3a1;
    }
    &--error {
        color: #ffb8b8;
    }
    &--warning {
        color: #ffe663;
    }
}

.Top-Bar {
    background: #eeeff5;
    margin-bottom: 20px;
}

.Welcome-Widget-Wrapper {
    margin: 0 auto;
    margin-top: 80px;
    width: 70%;

    @include media-breakpoint-down(md) {
        width: 100%
    }

    &__header {
        font-size: 30px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 10px;
        font-weight: 300;
    }
}



.Welcome-Widget {
    border-radius: $widget-border-radius;
    box-shadow: $widget-box-shadow;
    padding: $form-padding;
    cursor: pointer;
    background: #f5f5f5;

    &--public-nodes {
        margin-bottom: 30px;
        @include media-breakpoint-down(xs) {
            margin-bottom: 20px;
        }
        background: #16325c;
        color: #ffffff;
    }

    &--setup-node {
        margin-right: 30px;
        @include media-breakpoint-down(xs) {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
    }

    &__sub-title {
        font-size: 21px;
        font-weight: 500;
    }

    &__title-description {
        color: rgb(235, 235, 235);
    }

    &__sub-description {
        color: rgb(121, 121, 121);
    }
}

.Status-Circle {
    height: 10px;
    width: 10px;
    background-color: $brand-color;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;

    &--down {
        background-color: $down-color;
    }
}

// .Network-Entry__more__details__social 


.Node-List {
    &__center-text {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }

    &__sub-text {
        font-size: 14px;
        font-weight: 400;
    }

    &__search-criteria {
        margin-bottom: 20px;
    }

    &__plus-circle {
        @extend .Icon--circle;
        margin-top: 10px;
        font-size: 40px;
        width: 65px;
        height: 65px;
        
        > a {
            color: #4288d2;
            :hover {
                color: #3ce9a1;
            }
        }
            
    }
}

.Nodes-Search-Criteria {
    margin-bottom: 30px;
}

.Nodes-Owned-List {
    margin-top: 30px;
}

.center-text {
    text-align: center;
}


.login-text-wrapper {
    display: flex;
    background-color: #ade6e6;
    padding: 0px 10px 0px 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1px;

    &--large {
        justify-content: center;
        max-width: 200px;
        margin: 0 auto;
    }

    > div {
        align-self: center;
        cursor: pointer;
    }

    .login-text {
        margin-left: 5px;
        padding: 5px 0px;
        display: inline-block;
        color: #000000;
    }
}




.navbar-brand {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}   

.Sub-Top-Bar {
    background: #ffffff;
    margin-top: -20px;
    padding: 4px 0px;
    margin-bottom: 22px;
    border-bottom: 1px solid #e6e7e8;
}

.recaptcha-wrapper > div > div {
    display: flex;
    place-content: center;
}


.Setup-Page {
    margin: 0 auto;

    &__select {
        margin-bottom: 20px;
    }

    &__select-wrapper {
        margin-right: 20px;
    }


    &__navigation {
        &__entries {
            margin-left: 10px;
            position: relative;

            .Border-Cover {
                position: absolute;
                width: 4px;
                left: -2px;
                bottom: 0px;
                background-color: white;
                overflow: hidden;
                height: 16px;
            }

            .Border-Cover-Top {
                @extend .Border-Cover;
                top: 0px;
            }

            ul {
                padding-left: 0px;
                list-style: none;
            }
            
            li {
                font-size: 15px;
                letter-spacing: 1px;
                padding: 10px 0px;
                border-left: 1px solid rgb(211, 209, 209);
                
                span {
                    color: rgb(168, 168, 168);
                    margin-left: 20px;
                }
                
                &.current-entry {
                    &:before {
                        background-color: #06d4d4 !important; 
                    }
                    
                    span {
                        color: #06d4d4;
                        font-weight: 500;
                    }
                }
        
                &:before {
                    border-right:1px solid ;
                    border-radius: 50%;
                    background-color: #dce2e7 !important;
                    color: #fff !important;
                    display: inline-block;
                    height: 10px;
                    line-height: 9px;
                    margin-left: -5px;
                    margin-top: 4px;
                    content: "";
                    text-align: center;
                    width: 10px;
                    font-size: 1.3rem;
                    font-weight: 700;
                }

            }
            
        }

        &__header {
            font-size: 16px;
            font-weight: 500;
            color: rgb(102, 102, 102);
        }

        
    }



}


.Type-Selector {

    &__name {
        font-weight: 500;

        &--margin-top {
            margin-top: 20px;
        }
    }

    &__option {
        
        &:first-of-type {
            margin-right: 15px; 
        }

        &__label {
            margin-left: 5px;
        }
    }

    input[type="radio"] {
        margin-top: -1px;
        vertical-align: middle;
    }
}


.Documentation-Switcher {
    padding-top: 20px;
    padding-bottom: 20px;

    &__left {
        text-align: left;

        &__text {
            margin-left: 10px;
        }
    }

    &__right {
        text-align: right;
        &__text {
            margin-right: 10px;
        }
    }
}